.roundedButton{
    border-radius: 30px;
    
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px 12px 20px;
    width: fit-content;
    // font-family: dm-mono-regular;

    p, a{
        position: relative;
        z-index: 4;
        transition: color 0.4s linear;
    }

    &:hover{
        p,a{
            color: rgb(39, 38, 38);
            z-index: 4;
        }
    }
}

.circle{
    width: 100%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
}
