@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

@font-face {
  font-family: 'ivyMode';
  src:url('./fonts/IvyMode-Thin.woff')  format('woff');
  font-weight: 300;
  font-style: normal;
}
/* latin-ext */
/* cyrillic */
@font-face {
  font-family: 'Helvetica_Neue';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS_exA&skey=4ad46dd97873f7d7&v=v16) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Helvetica_Neue';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS4exA&skey=4ad46dd97873f7d7&v=v16) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Helvetica_Neue';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS1exA&skey=4ad46dd97873f7d7&v=v16) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Helvetica_Neue';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS7exA&skey=4ad46dd97873f7d7&v=v16) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.background-wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* or any desired height */
  overflow: hidden;
  /* background-color: red; */
  
}

/* .hero-section{
  position: relative;
  background-image: url(../../public/images/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -2;
} */
.background-video {
  background-image: url(../../public/images/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.background-video2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.background-rgba {
  position: absolute;
  background-color: rgba(0,0,0,0.73);
  background-color: rgba(0,0,0,0.53);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  /* position: relative; */
  z-index: 1;
  color: white; /* Optional: contrast against video */
}
.t-center{
  text-align: center !important;
}
.border-left{
  border-left-color: white;
  border-left-width: 3px;
  border-left-style: solid;
}
.ls-05{
    letter-spacing: 0.5px;

}
.breaker{
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100%;
}
.breaker-child{
  width: 50%;
}
.breaker-child-01{
  width: 65%;
}
.breaker-child-02{
  width: 35%;
}

@media (max-width: 768px) {
  .breaker{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  .breaker-child{
    /* display: flex; */
    width: 100% !important;
  }
  .breaker-child-01{
  width: 100%;
}
.breaker-child-02{
  width: 100%;
}
}

@media (max-width: 576px) {
  .breaker-child{
    /* display: flex; */
    width: 100% !important;
  }
  .breaker-child-01, .breaker-child-02{
  width: 100%;
}
}











